main{
    flex:1;
    display : flex;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
}

nav{
    background-color: #39765f;
    padding-bottom: 12px !important;
    padding-top: 12px!important;
    margin-bottom: -35px!important;
}

.navbar-brand{
    padding-right: 0px;       
    justify-content: center; 
}

.navbar .nav-link{
    color: white;
    font-size: 23px;
    font-weight: 450;
    padding-left: 15px;
}

.nav-item{
    padding-left: 15px;
}

.navbar .nav-link:hover{
    color :#0c1602

}
.navbar .nav-link.active{
    color: white;
    background-color: #152700 ;
    border-radius: 15px;
}

.navbar-toggler.navbar-toggler:collapsed{
    background-color:white;
}

.navbar-toggler-icon{
    background-image: url("images/hamburger-icon.png");
}

.nav-item-user-icon{
    align-content: center;

}

.account{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 450;
    padding-left: 30px;
}

.account:hover{
    color:#0c1602;
}

.hero-section {
    position: relative;
    background-size: cover; 
    background-position: center;
    background-image:url(images/street.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    height : 70vh;
    color: white;
    flex : 1;
    text-align: center;
    justify-content: center;
    align-items: center
}

.hero-section h1{
    font-size: 140px;
    font-weight: 1000;
    color: white;
    padding-top: 30px;
}

.hero-section h4{
    font-size:50px;
}

.hero-section button{
    width:400px;
    background-color: #2ca57b;
    font-size: 25px;
    font-weight: bold;
    border: none!important;
}

.hero-section button:hover{
    background-color: #197152;
}










