main{
    flex:1;
    display : flex;
    flex-direction: column;
}

body{
    font-family: 'Oswald', sans-serif;
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


/*----------------------------------------------------------------Navbar----------------------------------------------------------------*/

nav{
    background-color: #39765f;
    padding-bottom: 12px !important;
    padding-top: 12px!important;
}

.navbar-brand{
    padding-right: 0px;       
    justify-content: center; 
}

.navbar .nav-link{
    color: white;
    font-size: 23px;
    font-weight: 450;
    padding-left: 15px;
}

.nav-item{
    padding-left: 15px;
}

.navbar .nav-link:hover{
    color :#0c1602

}
.navbar .nav-link.active{
    color: white;
    background-color: #152700 ;
    border-radius: 15px;
}

.navbar-toggler.navbar-toggler:collapsed{
    background-color:white;
}

.navbar-toggler-icon{
    background-image: url("images/hamburger-icon.png");
}

.nav-item-user-icon{
    align-content: center;

}


.account{
    text-decoration: none;
    color: white;
    font-size: 23px;
    font-weight: 450;
}

.account:hover{
    color:#0c1602;
}

/*----------------------------------------------------------------Homepage----------------------------------------------------------------*/
.hero-section {
    position: relative;
    background-size: cover; 
    background-position: center;
    background-image:url(images/street.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height : 70vh;
    color: white;
    text-align: center;    
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-section h1{
    font-size: clamp(4.5rem, 10vw, 10rem);
    font-weight: 1000;
    color: white;
    padding-top: 30px;
}

.hero-section h4{
    font-size: clamp(1.5rem, 1vw, 3rem);
    font-weight: 350;
}

.hero-section button{
    width:90%;
    max-width: 400px;
    background-color: rgba(255, 255, 255, 0.157);
    backdrop-filter: blur(15px);
    border-top: 1px solid rgba(255,255,255,0.4);
    border-left: 1px solid rgba(255,255,255,0.4);
    border-bottom: none ;
    border-right: none;
    box-shadow: 3px 3px 3px rgba(0,0,0,0.089);
    font-size: 25px;
    font-weight: bold;
    display: flexbox;
    margin:10px auto;

}

.hero-section button:hover{
    background-color: #197152;
    border: none;
}

.hero-section button:active{
    background-color: #197152!important;
    transform: translateY(1px);
}

.food-recommendation{
    background-color: #fffdf0;
}

.food-recommendation .container{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 5rem;
}

.food-recommendation .container h1{
    color: #000000;
    font-size: clamp(3.5rem, 10vw, 10rem);
    font-weight: 800;
}

.food-recommendation .container .card-title{
    font-size: 30px;
    font-weight: 600;
}

.food-recommendation .container .card-text{
    font-size: 20px;
}

.food-recommendation .container .card-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.food-recommendation .container .card-container .list-group{
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 991px) {
    .food-recommendation .container .card-container{
        flex-direction: column;
    }
}

.food-recommendation .container .card{
    width: rem;
    margin: 20px;
}

main .temp
{
    min-height: 70vh;
}
/*----------------------------------------------------------------Start Here----------------------------------------------------------------*/


/*----------------------------------------------------------------Quiz----------------------------------------------------------------*/

.quiz-card {
  background: #fffaf5;
  border: 2px solid #f5c542;
}
.quiz-card h2 {
  font-family: 'Lilita One', cursive;
  color: #c0392b;
}

/*----------------------------------------------------------------Footer----------------------------------------------------------------*/

.footer
{
    background-color: #39765f;
    text-align: center;
    padding-bottom: 10px;
    align-items: center;
}

body > * {
    width: 100%;
}